{% extends 'base.html' %}

{% block content %}
    <p><a href="{% url 'projects:create_project'%}">Создать новый проект</p>
    {% if projects %}
        <ul class="list-group">
            {% for project in projects %}
                <li class="list-group-item">
                    <a href="{% url 'projects:project_deteil' project.id %}">{{ project.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Проектов пока нет.</p>
    {% endif %}
{% endblock %}
